<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite to index">
          <match url="^doacao-de-medula-ossea/?$" />
          <action type="Rewrite" url="index.php" />
        </rule>

        <rule name="Rewrite to palestras">
          <match url="^palestras/?$" />
          <action type="Rewrite" url="palestras.php" />
        </rule>

        <rule name="Rewrite to galeria">
          <match url="^galeria-de-fotos/?$" />
          <action type="Rewrite" url="galeria.php" />
        </rule>

        <rule name="Rewrite to oqem">
          <match url="^o-que-e-medula-ossea/?$" />
          <action type="Rewrite" url="oqem.php" />
        </rule>

        <rule name="Rewrite to pqd">
          <match url="^porque-doar/?$" />
          <action type="Rewrite" url="pqd.php" />
        </rule>

        <rule name="Rewrite to requisitos">
          <match url="^requisitos-para-doacao/?$" />
          <action type="Rewrite" url="requisitos.php" />
        </rule>

        <rule name="Rewrite to qnpd">
          <match url="^quem-nao-pode-doar/?$" />
          <action type="Rewrite" url="qnpd.php" />
        </rule>

        <rule name="Rewrite to etapas">
          <match url="^etapas-da-doacao/?$" />
          <action type="Rewrite" url="etapas.php" />
        </rule>

        <rule name="Rewrite to cuidados">
          <match url="^cuidados-pos-doacao/?$" />
          <action type="Rewrite" url="cuidados.php" />
        </rule>

        <rule name="Rewrite to doencas">
          <match url="^doencas-relacionadas/?$" />
          <action type="Rewrite" url="doencas.php" />
        </rule>

        <rule name="Rewrite to locais">
          <match url="^locais-para-doar/?$" />
          <action type="Rewrite" url="locais.php" />
        </rule>

        <rule name="Rewrite to divulgando">
          <match url="^divulgando/?$" />
          <action type="Rewrite" url="divulgando.php" />
        </rule>

        <rule name="Rewrite to doando">
          <match url="^doando/?$" />
          <action type="Rewrite" url="doando.php" />
        </rule>

        <rule name="Rewrite to depoimentos">
          <match url="^depoimentos/?$" />
          <action type="Rewrite" url="depoimentos.php" />
        </rule>

        <rule name="Rewrite to contato">
          <match url="^entre-em-contato/?$" />
          <action type="Rewrite" url="contato.php" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>